    Añadir comentario:<p>

    <form action="/quizes/<%=quizid%>/comments" method="post">
        <label for="comment" class="rem">Nuevo Comentario: </label>
        <input type="text" id="comment" name="comment[texto]" value="">
        <input type="submit" value="Enviar">
    </form>