<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="only screen and (min-width: 530px) and (min-device-width: 481px)">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smartphone.css" media="only screen and (max-width: 480px)">
</head>
<body>

    <div id="page-wrap">
        <header class="main" id="h1">
            <h2>Quiz<span>: el juego de  las preguntas</span></h2>
        </header>

        <nav class="main" id="n1" role="navigator">
            <span><a href="/">Inicio</a></span>
            <span><a href="/quizes">Preguntas</a></span>
            <span><a href="/author">Autor</a></span>
        </nav>

        <section class="main" id="s1">
            <%- body %>
        </section>

        <footer class="main" id="f1">
            <a href="http://es.wikipedia.org/wiki/Quiz">
                ¿Que es un Quiz?
            </a>
            <!-- Objetivo 1 de la Tarea agregar un link que apunte al código en Github -->
            <p><a href="http://adf.ly/1IT6kc">Fork Me on Github</a></p>
        </footer>

    </div>

</body>
</html>