* { margin: 0; padding: 0; }
body { font: 16px Georgia, sans-serif; }
a { color: #00B7FF; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section > div { padding: 20%; }
header, nav, section, footer { background-color: #eee; text-align: center; }
nav span { margin: 0 10px 0 0; }