* { margin: 0; padding: 0; }
body { font: 16px Georgia, sans-serif; }
a { color: #00B7FF; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section > div { padding: 20%; }
header, nav, section, footer { background-color: #eee; text-align: center; }
nav span { margin: 0 10px 0 0; }

#ErrorMsgs { color: red; font-size: smaller;}

.right { float: right; }

/* Adicional para que se vea bien */
table {margin: 8px auto; border: 1px #999 solid;}
th {padding: 8px; border: 1px #999 solid;}
td {background-color: white; border: 1px #999 solid; padding: 8px;}
td.pregunta, td.tema {padding-left: 8px; text-align: left;}
ul>li{ list-style: none; }
#piechart {height: 150px; margin: 0 auto; padding: 10px 0; width: 450px;}