<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

    <h2>Quiz: el juego de  las preguntas</h2>

    <%= respuesta %><p>
    <a href="/quizes/question">Intentalo de nuevo</a>

</body>
</html>