
    <label for="pregunta" class="rem">Pregunta:</label>
    <input type="text" id="pregunta" name="quiz[pregunta]" value="<%= quiz.pregunta %>">
    <label for="respuesta" class="rem">Respuesta:</label>
    <input type="text" id="respuesta" name="quiz[respuesta]" value="<%= quiz.respuesta %>">
    <a href="/quizes"><button type="button">Cancelar</button></a>
    <input type="submit" value="Guardar">