
    <form method="GET" action="/quizes/answer">
        Pregunta <%= pregunta %><p>
        <input type="text" name="respuesta" value="Responde Aquí">
        <input type="submit" value="Responder">
    </form>
