
    <form method="GET" action="/quizes/<%= quiz.id %>/answer">
        Pregunta <%= quiz.pregunta %><p>
        <input type="text" name="respuesta" value="Responde Aquí">
        <input type="submit" value="Responder">
    </form><br>

    <p><a href="/quizes/<%=quiz.id%>/comment/new"><button>Nuevo Comentario</button></a></p><br>

    <p><b>Comentarios:</b><br>
    <ul>
    <% for (index in quiz.Comments) { %>
        <li><%= quiz.Comments[index].texto %></li>
    <% } %>
    </ul>
    </p>