
    <form method="GET" action="/quizes/<%= quiz.id %>/answer">
        Pregunta <%= quiz.pregunta %><p>
        <input type="text" name="respuesta" value="Responde Aquí">
        <input type="submit" value="Responder">
    </form>
